<table class="table table-striped">
  <tbody>
    {{#articles}}
    <tr>
      <td>
        <h4>{{.title}}</h4>
        {{.feed.title}}
        <span class="pull-right">{{.published_at}}</span>
      </td>
    </tr>
    {{/articles}}
    {{^articles}}No articles found!({{/articles}}
  </tbody>
</table>
