<%= form_for @feed, url: {action: action}, html: {class: "form"} do |f| %>
  <div class="form-group">
    <%= f.label :url %>
    <%= f.url_field :url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit action.capitalize, class: "btn btn-primary" %>
  </div>
<% end %>
