<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Idoru</h3>
          <ul class="nav masthead-nav">
            <li><a href="http://cabaltherapy.com">Blog</a></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Idoru is an RSS aggregator for minimalists.</h2>
          <p class="lead">
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-default" %>
            <%= link_to "Github", "http://github.com/ptrckbrwn/cooper-rails", class: "btn btn-lg btn-default" %>
          </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Idoru was made by <a href="http://github.com/ptrckbrwn">ptrckbrwn</a> with <span class="text-danger"><i class="fa fa-heart"></i></span>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
