<div id="reader-app">
  <h1>{{foo}}</h1>
  <table class="table table-striped">
    <tbody>
      {{#articles}}
          <h4>{{title}}</h4>
          <div>{{author}}</div>
      {{/articles}}
    </tbody>
  </table>
</div>
